.account-top{
    background-color: whitesmoke;
    height: 92vh;
}
.account{
     max-width: 600px;
     padding-top: 10%;
     
}
.account img{
max-width: 150px;
margin-right: 2rem;
max-height: 200px;
}
.account_body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid gray;
    padding: 20px;
    box-shadow: 5px 10px 5px gray;
    background-image: linear-gradient(to right, lightblue , lightgreen);
}
.account_details{
    text-align: justify;
    font-family: 'self';
}
@media screen and (max-width:516px){
    .account img{
        max-width: 80px;
        max-height: 80px;
        }
}